body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

a {
  color: #003366;
}
a:visited {
  color:gray;
  text-decoration: underline;
  text-decoration-style:dotted;
}

/* content */
main.content {
  border: 2px dotted 	#fff2cc;
}

.content h2::before{
  content: " § ";
  color: red;
  font-weight: bold;
}

.content h3::before{
  content: " §§ ";
  color: red;
  font-size: 55%;
}

.content h4::before{
  content: " §§§ ";
  color: red;
  font-size: 50%;
}

/* image */
img {
  display: block;
  margin-right: auto;
  width: 60%;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.menu a {
  text-decoration: none;
  background: #ffaa80;
  padding: 5px;
  border-radius: 5px;
}
.menu {text-align: right;}
.menu li a:hover {
  background-color: #555;
  color: white;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.article-meta, a {
  text-decoration: underline;
  text-decoration-style:dotted;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
.article-meta, footer { text-align: center; }
.title { font-size: 0.8em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #002266;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }
