{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title }}</span></h1>
{{ with .Site.Author.name }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">Created: {{ .Date.Format "2006/01/02" }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">Modified: {{ .Lastmod.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main class="content">
{{ .Content }}
</main>

<p><img src="https://raw.githubusercontent.com/unkcpz/images/master/zpcknu-blog/disqus-or.png" alt="" /></p>
<div class="article-container">
  {{ partial "disqus.html" . }}
</div>

{{ partial "footer.html" . }}
